body {
    font-family: 'Tajawal', 'Times New Roman', Times, serif;
    nav {
        margin-bottom: 2rem;
    }
    table {
        border-left: 1px solid;
        border-right: 1px solid;
        border-top: 1px solid;
    }
}