<div class="overlay-background">
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container mb-3 mt-3">
                <div class="alert alert-success mt-3" role="alert">
                    <p>هل انت متأكد من قبول هذا الطالب</p>
                </div>
                <div>
                    <button type="button" id='target2' class="btn btn-success ml-1">نعم</button>
                    <button type="button" id="target3" class="btn btn-danger">لا</button>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>

    <div class="container">
        <div class="the-container">

            <table id="myTable" class="display nowrap">
                <thead>
                    <tr>
                        <th>اسم الطالب</th>
                        <th>المجموعة</th>
                        <th>رقم الهاتف</th>
                        <th>كلمه المرور </th>
                        <th>المرحله </th>
                        <th>خيارات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}

                    <div>
                        <tr>
                            <td>{{student['name']}}</td>
                            <td>{{groups[student['groups_id']-1]['name']}}</td>
                            <td class="cheque-amt3">{{student['phone']}}</td>
                            <td class="cheque-amt5">
                                <td>{{student['password']}}</td>
                            </td>
                            <td class="cheque-amt6"> {{levels[groups[student['groups_id']-1]['levels_id']-1]['name']}}</td>
                            <td><button type="button" class="btn btn-success btnDelete" data-toggle="modal" data-target="#exampleModal">
									قبول
								</button></td>
                        </tr>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>