<ul class="nav justify-content-center" style="background-color: silver;">

    <li class="nav-item">
        <a class="nav-link" href="/admin/levels">المراحل</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/groups">المجموعات</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/secretary">المشرفين</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/student">الطلاب</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/examsBank">بنك الاسالة</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/exam/home">الامتحانات</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/membership">الشهر</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/absent">الغياب</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin">الرئيسية</a>
    </li>

</ul>