<div class="overlay-background"></div>

<footer>
    <div class="col-md-12 text-center mb-3 mt-3">

        <div class="mr-2 mb-5 cardaia">
            <p class="mt-2">عدد الحاضرين</p>
            <hr>
            <span class="green">20</span>
        </div>
        <div class="mr-2 cardaia">
            <p class="mt-2">
                <p>عدد الغائبين</p>
                <hr>
                <span class="red">20</span>
        </div>
    </div>

    <div class="container">
        <div class="the-container">

            <table id="myTable" class="display nowrap">
                <thead>
                    <tr>
                        <th>اسم الطالب</th>
                        <th>الحالة</th>
                        <th>المجموعة</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cheque-amt">حازم مسعد</td>
                        <td class="attend">حاضر</td>
                        <td>المجموعة كذا</td>
                    </tr>
                    <tr>
                        <td class="cheque-amt">الاستاذ معوض</td>
                        <td class="absent">غائب</td>
                        <td>المجموعة كذا</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</footer>