<div class="container">
    <div style="margin-bottom: 20%;"></div>

    <div class="row">
        <div class="col-md-4">
            <div id="linkcard" onclick="location.href='pageurl.html';">
                <p id="alinkcard">انشاء</p>
            </div>
        </div>
        <div class="col-md-4">
            <div id="linkcard" onclick="location.href='pageurl.html';">
                <p id="alinkcard">تخصيص</p>
            </div>
        </div>
        <div class="col-md-4">
            <div id="linkcard" onclick="location.href='pageurl.html';">
                <p id="alinkcard">نتائج</p>
            </div>
        </div>

    </div>


</div>