body {
  font-family: "Tajawal", "Times New Roman", Times, serif;
  font-weight: bold;

  .quation-block {
    margin-top: 2rem;

    .quation {
      text-align: right;
    }

    .answers {
      position: relative;
        .sm-block {
          display: block;
          float: none !important;
          margin-top: 1rem;
          // text-align: right;
          font-weight: lighter;
        }
      }
    }
  }
