<style>
    section {
        position: relative;
        min-height: 100vh;
    }
    
    .overlay {
        position: absolute;
        z-index: 1;
        background-color: #00000057;
        min-height: 100vh;
        top: 0;
        left: 0;
    }
    
    .new-nav {
        position: relative !important;
        color: #FFF !important;
        background: linear-gradient(180deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 45%) 50%, rgb(0 0 0 / 19%) 100%) !important;
        z-index: 0;
    }
    
    .new-nav a {
        color: #FFF !important;
        font-weight: lighter;
    }
    
    .navbar-brand {
        font-weight: 300 !important;
    }
    
    .dropdown-item {
        color: #000 !important;
    }
    
    .dropdown-toggle {
        color: #fff;
    }
    
    .container {
        margin-top: 20vh;
    }
</style>
</head>

<body>

    <section>
        <div class="overlay-background"> </div>


        <div class="container">
            <div onclick="location.href='/admin/examsBank'">بنك الأسألة</div>
            <div onclick="location.href='/admin/levels'">المراحل</div>
            <div onclick="location.href='/admin/absent'">الغياب</div>
            <div onclick="location.href='/admin/student'">الطلاب الجدد</div>
            <div onclick="location.href='/admin/membership'">الشهر</div>
            <div onclick="location.href='/admin/groups'">المجموعات</div>
            <div onclick="location.href='/admin/exam/home'">الامتحانات</div>
            <div onclick="location.href='/admin/secretary'">المشرفين</div>
        </div>

    </section>